body{
 background:#f5f5f5;
}
body{
	font-family: "微软雅黑";
}
a{
	font-family: "微软雅黑";
	color: #666;
	font-size: 12px;
}
.line{
	width: 100%;
	background: red;
	height: 1px;
	position: absolute;
	left: 0px;
	top:0px;
}

/*top*/
.top{
	height: 36px;
	line-height: 36px;
	margin-top:2px;
	background:#f5f5f5;
	border-bottom: 1px solid #eee;
}
.top a{
	display: inline-block;
	text-align: center;
	padding: 2px;
	text-decoration: none;
}
.top a:hover{
	color:  #ff9090;
}
.top .line{
	top:36px;
}
/*top(end)*/

/*head*/
.head{
	height: 150px;
	padding: 20px;
}
.phone{
	
}
.phone h5{
	font-family: "微软雅黑"
}
.phone p{
	font-size:20px;
	color: orange;
}
/*head(end)*/

.navigation{
	
}
/*menu*/
.menu{
}
.menu > span{
	background: #ff5c5c;
	height: 52px;
    line-height: 52px;
    text-indent: 20px;
    border-radius: 4px 4px 0 0;
    width: 250px;
    display: inline-block;
    color: white;
    text-align: left;
    font-size: 18px;
}
.menu > ul{
	list-style: none;
	width: 250px;
}
.menu > ul > li{

    padding: 17.2px 0;
    border-bottom: 1px dashed #ff9090;
    background-color: #ff7070;
    color: white;
    font-size: 14px;
}
.menu > ul > li >span{
	display: inline-block;
	padding: 0px 10px;
}
/*menu(end)*/

/*nav*/
.nav{
	
}
.nav > nav{
	height: 52px;
    padding-top: 10px;
    border-bottom: 1px solid #ff5c5c;
}
.nav > nav > a{
	font-size: 28px;
    color: #333333;
    padding: 0px 20px;
    font-weight: 500;
}
.nav > nav > a:hover{
	text-decoration: none;
	color: #ff5c5c;
}

/*nav(end)*/



/*box-title*/
.box{
	
}
.box-head{
	height: 36px;
	line-height: 36px;
	margin: 10px 0px;
}
.box-title{
	font-size: 24px;
    color: #333333;
    border-left: 3px solid #ff5c5c;
    padding: 0 15px;
}
.box-more{
	
}
/*box-title(end)*/